{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}

<div class="row h-100">
    <div class="col-sm-12 my-auto text-center" >
        <p class="my-2">{{ message }}</p> 
        <form action="" method="POST">
            <table class="mx-auto board">
                {% for j in range(0, 3) %}
                <tr>
                {% for i in range(0, 3) %}
                <td>
                    <button type="submit" name="choice" value="{{j*3+i}}" class="btn btn-primary p-5" {{"disabled" if game.game_board.value_at(j, i)!="_"}}>
                        {{ game.game_board.value_at(j, i) }}
                    </button>
                </td>
                {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </form>
        <a href="/start-over" class="btn btn-primary my-3">Start Over</a>
    </div>
</div>



{% endblock %}