{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="row h-100">
    <div class="col-sm-12 my-auto">
        <div class="jumbotron mx-5">
            <h1 class="display-4 text-center">Tic Tac Toe</h1>
            <p class="lead text-center">Play against a friend or challenge the computer in a game of tic tac toe (bewarned, you wont beat the computer)</p>
            <hr class="my-4">
            <div class="container">
            <div class="row">
                <div class="col-sm text-center">
                    <a href="/game/1-player" class="btn btn-primary">1 Players</a>                
                </div>
                <div class="col-sm text-center">
                    <a href="/game/2-player" class="btn btn-primary">2 Players</a>
                </div>
            </div>
            </div>
          </div>
    </div>
 </div>
{% endblock %}